<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome!
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div class="c-header">
      <ion-searchbar mode="ios" (ionChange)="setFilteredPhotos(searchTerm)" [placeholder]="'Search by ipsum'" [(ngModel)]="searchTerm"></ion-searchbar>
      <ion-searchbar mode="ios" (ionChange)="filterPhotoById(id)" [placeholder]="'Search by ID'" [(ngModel)]="id"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="p-photos">

  <div class="p-photos__result-number">Total items: {{filteredPhotos.length}}</div>

  <ion-virtual-scroll *ngIf="filteredPhotos.length > 0" [items]="filteredPhotos" aproxItemHeight="450px" #virtualScroll>

    <ion-item *virtualItem="let photo">
      <app-photo [photo]="photo"></app-photo>
    </ion-item>

  </ion-virtual-scroll>

  <div *ngIf="filteredPhotos.length === 0" class="p-photos__warning">
      <div>
        Sorry, there are no results for <strong>{{searchTerm || id}}</strong><br>Please, try again!
      </div>
  </div>

</ion-content>
